.ClockContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: blur(1px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.ClockContainer > div {
  --size-percent: calc(2 / 3);
  width: 100%;
  height: 100%;
  max-width: calc(var(--size-percent) * 100vmin);
  max-height: calc(var(--size-percent) * 100vmin);
}

